* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header {
    width: 100%;
}

/* Căn giữa menu dropdown nếu muốn chỉnh thêm */
.ant-dropdown-menu {
    
    text-align: center;
  }
  
  /* Tuỳ chỉnh item bên trong menu */
  .ant-dropdown-menu-item {
    font-size: 14px;
    padding: 8px 16px;
  }
  
  /* Hiệu ứng hover */
  .ant-dropdown-menu-item:hover {
    background-color: #f0f0f0;
    color: #007bff;
  }
  


.header .mid_header {
    display: flex;
    align-items: center; 
    padding: 20px 40px;
    max-width: 100%;
    justify-content: space-between;
}

.header .mid_header .logo img {
    cursor: pointer;
    object-fit: cover;
    width: 200px;
    margin-left: 0;
}

.header .mid_header .user {
    display: flex;
    align-items: center;
    gap: 20px; 
    position: absolute;
    right: 20px;
    top: 30px;
    padding-right: 30px;
}

.search-container {
  margin-left: 30px;
  flex: 1;
  margin-left: 20%;
}

.search-input {
  width: 50%;
  padding: 8px 12px;;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.search-results {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 999;
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-results li {
  padding: 8px 12px;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #f0f0f0;
}



.header .mid_header .user .btn {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header .mid_header .user .btn button {
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s ease;
}

.header .mid_header .user .btn button:hover {
    color: #007bff;
}


.header .last_header {
    width: 100%;
    padding: 10px 10px;
    display: flex;
    background-color: #232323;
    justify-content: space-between;
}

.header .last_header .user_profile {
    display: flex;
    margin-top: 10px;
}

.header .last_header .user_profile .icon {
    padding: 10px 10px;
    background: #fff;
    border-radius: 50%;
}

.header .last_header .user_profile .info {
    margin-left: 10px;
}

.header .last_header .nav {
    margin-top: 15px;
    margin-left: 32%;
}

.header .last_header .nav ul {
    display: flex;
}

.header .last_header .nav ul li {
    padding-bottom: 10px;
    padding-left: 20px;
    list-style: none;
}

.header .last_header .nav ul li .link {
    
    margin-right: 25px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
    justify-content: space-between;
}

.header .last_header .nav ul li .link:hover {
    color: #008cd6;
}

.header .last_header .offer {
    margin-right: 20px;
    padding: 10px 20px;
    background-color: #fed700;
    border-radius: 10px;
}

.header .last_header .offer p {
    margin-top: 5px;
    text-transform: uppercase;
    color: #232323;
    font-weight: 600;
    font-size: 14px;
}